{% extends 'main.html' %}

{% block content %}

<p>Hello you are on the {{page}} page </p>

{% if number > 10 %}
<p> Number is greater than 10 </p>

{% elif number == 10 %}
<p> Number is exactly 10 </p>

{% else %}
<p> Number is less than 10 </p>
{% endif %}

<hr>

<h1>Projects</h1>

<table border='1' style='border-collapse:collapse'>
    <tr>
      <th> ID </th>
      <th> Title </th>
      <th> Description </th>
    </tr>
    
    {% for project in projects %}

    <tr>
      <td> {{project.id}} </td>
      <td> {{project.title}} </td>
      <td> {{project.description}} </td>
    </tr>

    {% endfor %}
  
</table> 

<ul>

    {% for project in projects %}

        <li> Title : {{project.title}} --- {{project.description}}</li>
    
    {% endfor %}

</ul>


{% endblock content %}