{% extends 'main.html' %}

{% block content %}

<p>Hello you are on the {{page}} page </p>

{% if number > 10 %}
<p> Number is greater than 10 </p>
{% elif number == 10 %}
<p> Number is exactly 10 </p>
{% else %}
<p> Number is less than 10 </p>
{% endif %}

<h1>Project Templates by Misbah</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

{% endblock content%}